* {
    color: white;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url(/imgs/darkmode_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
.container {
    min-width: 50%;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-block: 1rem;
}

header {
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    & h1 {
        font-weight: 750;
        font-size: 2rem;
    }
}

.inputfield {
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    & h2 {
        font-weight: 500;
        font-size: 1.6rem;
    }
}

.inputfield input {
    border: none;
    border-bottom: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    transition-duration: 0.4s;
}

.inputfield input:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.inputfield input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.25);
    border: 4px solid white;
    padding: 10px;
    border-radius: 8px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.twobuttons {
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.bg-image{
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.topnav {
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    padding: 0;
    margin: 0;
}

.topnav button {
    padding: 5px;
    margin: 10px;
    width: 80px;
    display: inline;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    transition-duration: 0.2s;
    font-size: 10pt;
    cursor:pointer;
}

.topnav button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 7px 20px 2px rgba(0,0,0,0.25);
    box-shadow: 0 7px 20px 2px rgba(0,0,0,0.25);
}

button.dropbtn {
    font-family: "Montserrat", sans-serif;
}

.dropdown-content {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    font-size: 10pt;
    transition-duration: 0.2s;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

button.button1 {
    font-size: 1.2rem;
    padding: 0.7rem;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.2s;
}

button.button1:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateY(-2px);
}

button.button1:active {
    transform: translateY(4px);
}